samples/
obj/
bin/
include/_mma/
include/cutlass/
include/stb/
a.out
src_backup
src_reference
mma.cu
toy.o
toy_backup.cu
print_colors.png
compiler.code-workspace
aux.cu
llvm.sh
mouse.o
mouse.cu
playground.cpp
*backup
trace.log