samples/
obj/
bin/
include/_mma/
include/cutlass/
include/stb/
src_backup
src_reference
mma
mma.cu
toy.o
toy_backup.cu
print_colors.png
compiler.code-workspace
aux.cu
llvm.sh
mouse.o
mouse.cu
*backup