samples/
obj/
bin/
*.o
lib/
include/_mma/
include/cutlass/
a.out
src_backup/
src_reference/
toy.o
print_colors.png
compiler.code-workspace
llvm.sh
mouse.o
*.cu
playground.cpp
*backup
trace.log
.prebuild_done
.build_flag